* {
    background-color: rgb(34, 31, 31);
    color: white;
    font-family: 'Play', sans-serif;
    margin-bottom: 2px;
}

h1, h2 {
    text-align: center;
}

.Content {
    margin: 25px 10px;
}

/* HEADER */
.Header {
    border-bottom: rgb(55, 54, 54) solid 1px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header img {
    width: 40px;
}

/* ABOUTPANEL */
.AboutPanel {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Contact {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.AboutMe {
    margin-bottom: 10px;
}

.Buttons a {
    text-decoration: none;
}

/* TECHPANEL */
.Projects {
    padding-bottom: 5px;
    border-bottom: rgb(55, 54, 54) solid 1px;
}

.TechIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.TechIcons img {
    width: 40px;
}

/* .gameButton {
    border: white solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.Buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
} */

.TechList {
    text-align: center;
}