* {
    background-color: rgb(34, 31, 31);
    color: white;
    font-family: 'Play', sans-serif;
    margin-bottom: 2px;
}

.Content {
    margin: 25px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* ABOUTPANEL */
.AboutPanel {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutMe {
    margin-bottom: 10px;
    margin-top: 30px;
}

.AboutPanel a {
    text-decoration: none;
}

.gameButton {
    border: white solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.Buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.Contact {
    margin: 0 auto;
    margin-top: 10px;
}

.TechIcons {
    margin-bottom: 10px;
}

/* HEADER */
.Header {
    border-bottom: rgb(55, 54, 54) solid 1px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header img {
    width: 40px;
}

/* HOME */

/* TECHPANEL */
.Projects {
    overflow: scroll;
    width: 100%;
    height: 300px;
    scrollbar-width: thin;
    border: 1px white solid;
}

.TechIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.TechIcons img {
    width: 40px;
}